div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#submit{
	background-color: honeydew;
	/*width: 100px;*/
	/*padding: 25px;*/
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 20px;
	font-size: 20px;
	border-radius: 20px;
}

/*532+22 = 554 - width*/
/*547+22 = 569 - height*/

