h1 {
	display: flex;
	justify-content: center;
	font-family: Helvetica;
}
button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
}
#start {
	display: flex;
	justify-content: center;
}
#stats {
	display: flex;
	justify-content: center;
	gap: 20px;
}
#background {
	background-color: aliceblue;
	padding: 5px 10% 30px 10%;
}
.words {
	background-color: skyblue;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	flex-basis: 10rem;
	padding: 2px;
}
.words:hover {
	box-shadow: 2px 2px darkblue;
}
#column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.row {
	display: flex;
	gap: 60px;
	justify-content: center;
}
#category {
	font-size: 16px;
	padding: 5px;
	margin: 10px 0;
	border-radius: 25px;
	background-color: skyblue;
}
#lascomidas {
	background-color: green;
}
#lasfrutas {
	background-color: blue;
}
#lacarne {
	background-color: red;
}
#otrascomidas {
	background-color: lightpink;
}
#lasbebidas {
	background-color: lightskyblue;
}
#image1 {
	height: 80px;
}
#image2 {
	height: 80px;
}
