/* this is some magical font-importing.  
you'll learn about it later. */
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

body {
	margin: 0;
	background: #eee;
	font-family: Besley, serif;
	height: 100vh;
	overflow: hidden;
}

.header {
	background: white;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
}

.profile-image {
	background: pink;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

.logo {
	color: deeppink;
	font-size: 32px;
	font-weight: 900;
	font-style: italic;
}

button {
	border: none;
	border-radius: 8px;
	background: hotpink;
	color: white;
	padding: 8px 24px;
}

a {
	/* this removes the line under our links */
	text-decoration: none;
	color: pink;
}

ul {
	list-style-type: none;
	display: flex;
	gap: 16px;
	padding: 0;
}

.left,
.right {
	display: flex;
	gap: 16px;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 80px);
	background-color: #ffeef1;
}
.gallery {
	display: flex;
	flex-direction: row;
	flex: 2 1 400px;
	gap: 20px;
	overflow-y: scroll;
	border: solid 2px pink;
	border-radius: 10px;
	margin: 10px;
}
.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 400px;
	padding: 20px;
	border: solid 2px pink;
	margin: 10px;
	border-radius: 10px;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.column {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}
.image {
	/*
	width: 280px;
	height: 280px;
	*/
	max-width: 100%;
	height: auto;
}
.label {
}

#profilepic {
	width: 80%;
	flex-grow: 3;
}

#more-info {
	background-color: lightgray;
	height: 200px;
	width: 100%;
	border-radius: 15px;
}
.scroll {
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
	overflow-y: scroll;
	border: solid 2px pink;
	width: 100%;
	height: calc(95vh - 70px);
	background-color: #ffeef1;
}

.flower {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: pink;
	border-radius: 10px;
	margin: 10px;
}

.column2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 10px;
}
.image2 {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: flex-end;
	margin: 10px;
	border-radius: 10px;
}

.text {
	font-size: 25px;
	font-family: "Courier New", "Arial Narrow Bold", fantasy;
	font-weight: bolder;
}

h1 {
	color: hotpink;
	margin-left: 10px;
}
#moreinfoline {
	display: flex;
	flex-direction: row;
}
ul {
	display: flex;
	flex-direction: column;
}
.images {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#list {
	display: flex;
	flex-direction: row;
}
.image {
	border-radius: 10px;
}

.logo {
	width: 80px;
	height: 80px;
	border-radius: 20px;
}
